.homePage {
  text-align: center;
  height: 100%;
}

blockquote {
  border: solid #999;
  border-width: 3px 0;
  margin: 10px 40px;
  padding: 15px;
  font-size: 14px;
}

blockquote p {
  color: #000;
}

blockquote cite {
  font-size: 12px;
}

.signupForm {
  margin: 20px;
  padding: 5px;
  // border: 1px solid #000;
}

.form {
  // border: 1px solid #000;
}
