html {
  font-size: 62.5%;
}

body {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
